.navbar a{
   font-size: 20px;
   color: #4D4D4F;
   font-weight: 500;
}

.nav-link{
    font-size: 18px !important;
    font-weight: 500;
}

 .banner-image{
    display: flex; 
    justify-content: center;
    width: 100%;
}
/* .fa, .fas  {
    color: #4d4d4f;
} */
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    box-shadow: 1px 1px 8px grey;
    transition: 1s;
}

.card-alike{
    padding: 50px 40px 30px 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    transition: 1s;
    color: #4D4D4F;
}

.card-alike:hover{
    background-color: #4D4D4F;
    color: white!important;
}

.card-title{
    font-size: 20px;
}

.card-text{
    font-size: 18px;
}

.postButton {
    background-color:#C3F5E0;
}

.circle:hover{
    font-size: 30px;
}

.owl-prev {
    left: -30px;
}

.owl-next {
    right: -30px;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 120px;
}

.owl-prev span, .owl-next span{
    font-size: 80px;
    color: rgb(39, 39, 39);
} 

.group{
    display: flex;
    align-items: center;
}
.role, .role-icon{
   display: flex;
   align-items: center;
   color: #4D4D4F;
}
.role{
    font-size: 18px;
}
.role-icon{
    text-decoration: none;
    margin-left: 15px;
}
@media (min-width: 576px){
  .navbar-expand-sm .navbar-nav .nav-link {
     padding-right: 1rem;
     padding-left: 1rem;
  }
}
