.line {
    width:100%;
    text-align:center;
    border-bottom: 1px solid #000;
    line-height:0.1em;
    margin:10px 0 20px;
}

.line > span {
        background: #fff;
        padding: 0 10px;
}

.login-icon-align {
    float: left;
    padding: 0rem 1rem;
    /* border-right: 1px solid; */
    margin-right: 3.5rem;
}

@media (max-width: 361px){
    .form-spacing {
        margin-right: 4.5em!important;
    }
    .cform-spacing {
        margin-right: 3em!important;
    }
  }
  